<h1>Darn.</h1>
<h5>Please correct the following errors.</h5>
<% @errors.each do |message| %>
<p class="lead">
  <%= message %>
</p>
<% end %>

<h5><a href="<%= @back_to %>">Go back</a> to try again.</h5>
