<h1>OUR STORES</h1>

<% if @stores.any? %>
  <div class="row">
    <% @stores.each do |store| %>
      <a href="/stores/<%= store.id %>">
        <div class="col-sm-4">
          <div class="well store-box <%= random_color_class %>">
            <h1><%= store.name %></h1>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Add stores and brands by clicking the admin link below!</h1>
  </div>
<% end %>
