* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 50px; /* '.push' must be the same height as 'footer' */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

.store-box {
	height: 100px;
	text-align: center;
	border: none;
	margin: 5px -5px;
}

.store-box h1 {
	font-size: 2em;
	margin: 0;
	color: white;
	display: inline-block;
	vertical-align: middle;
}

.color0 {
	background-color: #2e0927;
}

.color1 {
	background-color: #d90000;
}

.color2 {
	background-color: #ff2d00;
}

.color3 {
	background-color: #ff8c00;
}

.color4 {
	background-color: #04756f;
}
